{{#layout}}

{{#sources.0}}
	<h1>Все источники</h1>
{{/sources.0}}
{{#sources}}
	<div id="source-{{source.id}}" class="card my-4">
		<div class="card-header">
			<span class="badge badge-secondary">{{userWordsRememberedCount}} из {{source.wordsCount}} слов изучено</span>
		</div>
		<div class="card-body">
			{{source.name}}
		</div>

		<div class="card-footer">
			<div class="btn-group">
				<a class="btn btn-sm btn-outline-secondary" href="{{layout.contextPath}}/to-remember/source/{{source.id}}">Изучать</a>
				<a class="btn btn-sm btn-outline-secondary" href="{{layout.contextPath}}/cloud/source/{{source.id}}">Облако слов</a>
				{{#isAdmin}}
					<button type="button"
							class="btn btn-sm btn-outline-danger"
							data-id="delete"
							data-href="/admin/sources/{{source.id}}">Удалить
					</button>
				{{/isAdmin}}
			</div>
		</div>
	</div>
{{/sources}}

{{^sources}}
	<h2>Нет источников</h2>
{{/sources}}


<script>
	var sourceBlockInAction = {};

	$('div.source-block button').click(
		function() {
			var button = $(this);
			var actionUrl = "{{layout.contextPath}}" + button.attr("data-href")
			var sourceBlock = button.parent();
			var sourceBlockId = sourceBlock.attr('id');

			if (sourceBlockInAction[sourceBlockId]) {
				return
			}

			sourceBlockInAction[sourceBlockId] = true;
			sourceBlock.toggleClass("in-action");

			switch (button.attr("data-id")) {
				case "delete":
					actionAndHide(sourceBlock, actionUrl, "DELETE");
					break;
			}
		}
	);

	function actionAndHide(sourceBlock, url, method) {
		console.log("[action and hide] " + url);
		$.ajax({ url: url, method: method})
			.done(function(resp) {
				console.log('[OK] ' + url);
				sourceBlock.remove();
			})
			.fail(function (jqXHR, excpetion) {
				console.log("[ERROR]" + url + "\n" + excpetion)
			})
			.always(function () {
			});
	}
</script>
{{/layout}}