{{#layout}}

{{#words.0}}
	<h1>
		{{#source}}{{.}}{{/source}}
		{{^source}}Слова из всех источников{{/source}}
	</h1>
{{/words.0}}
{{#words}}
	<div>
		<div id="word-{{id}}" class=word-to-remember-block>
			<div class=stats>
				{{#source}}
				<b>{{count}}</b> упоминаний
				{{/source}}
				{{^source}}
				<b>{{frequence}}</b> упоминаний / <b>{{sourcesCount}}</b> источников
				{{/source}}
			</div>
			<div class="word">
				{{name}}
				<br>
				<span class="translate">
					{{#translates}}
						{{value}}{{^-last}}<i>,</i>{{/-last}}
					{{/translates}}
				</span>
			</div>

			{{^translates}}
				<div data-id="translate" data-href="/word/{{id}}/translate" class="button button-translate">Перевод</div>
			{{/translates}}

			<div data-id="hold-over" data-href="/word/{{id}}/hold-over" class="button button-hold-over {{^translates}}hidden{{/translates}}">OK</div>

			<div data-id="remembered" data-href="/word/{{id}}/remembered" class="button button-remembered">Запомнил!</div>
			<div class="button">
				<a href="https://en.oxforddictionaries.com/definition/{{name}}" target="_blank">Определение</a>
			</div>
			{{#isAdmin}}
				<div data-id="black-list" data-href="/admin/word/{{id}}/black-list" class="button button-delete">Удалить</div>
			{{/isAdmin}}
		</div>
	</div>
{{/words}}

{{#words.0}}
	<a href=""><img src="{{layout.contextPath}}/img/refresh.png"/></a>
	<div class="to-remember-note-block">
		Осталось изучить
		{{#source}}
			<b>{{source.wordsCount}}</b> слов. Уже изучено: {{userCount}}<b></b>
		{{/source}}
		{{^source}}
			<b>{{toRememberCount}}</b> слов. Уже изучено: <b>{{rememberedCount}}</b>
		{{/source}}
	</div>
{{/words.0}}

{{^words}}
	<h2>Все уже изучено</h2>
{{/words}}

<script>
	var wordBlockInAction = {};

	$('div.word-to-remember-block div.button').click(
		function() {
			var button = $(this);
			var actionUrl = "{{layout.contextPath}}" + button.attr("data-href");
			var wordBlock = button.parent();
			var wordBlockId = wordBlock.attr('id');

			if (wordBlockInAction[wordBlockId]) {
				return
			}
			wordBlockInAction[wordBlockId] = true;
			wordBlock.toggleClass("in-action");

			switch (button.attr("data-id")) {
				case "translate":
					translate(wordBlock, actionUrl);
					break;
				case "hold-over":
					actionAndHide(wordBlock, actionUrl);
					break;
				case "remembered":
					actionAndHide(wordBlock, actionUrl);
					break;
				case "black-list":
					actionAndHide(wordBlock, actionUrl);
					break;
				default:
					wordBlockInAction[wordBlockId] = false;
					wordBlock.toggleClass("in-action");
			}
		}
	);

	function translate(wordBlock, url) {
		console.log("[translate] " + url);
		$.ajax({ url: url, method: 'PUT'})
			.done(function(resp) {
				wordBlock.find('.translate').text(resp);
				wordBlock.find("[data-id=translate]").hide();
				wordBlock.find("[data-id=hold-over]").toggleClass("hidden");
				console.log('[OK] ' + url);
			})
			.fail(function (jqXHR, excpetion) {
				console.log("[ERROR]" + url + "\n" + excpetion)
			})
			.always(function () {
				wordBlockInAction[wordBlock.attr('id')] = false;
				wordBlock.toggleClass("in-action");
			});
	}

	function actionAndHide(wordBlock, url) {
		console.log("[action and hide] " + wordBlock + " " + url)
		$.ajax({ url: url, method: 'PUT'})
			.done(function(resp) {
				console.log('[OK] ' + url);
				wordBlock.remove();
				loadNewPortion();
			})
			.fail(function (jqXHR, excpetion) {
				console.log("[ERROR]" + url + "\n" + excpetion)
			})
			.always(function () {
			});
	}

	function loadNewPortion() {
		var words = $('.word-to-remember-block');
		if (words.length === 0) {
			location.reload()
		}
	}
</script>

{{/layout}}