{{#layout}}

{{#words.0}}
	{{#source}}
		<h1>{{.}}</h1>
		<a  role="button"
			class="btn btn-outline-secondary btn-sm"
			href="{{layout.contextPath}}/cloud/source/{{id}}">Облако слов
		</a>
	{{/source}}
	{{^source}}
		<h1>Слова из всех источников</h1>
	{{/source}}
{{/words.0}}
{{#words}}
	<div id="word-{{word.id}}" class="card my-4" data-word-id="{{word.id}}">
		<div class="card-header">
			<b>{{word.name}}</b>
			<span class="badge badge-secondary float-right font-weight-light">
				{{#source}}
					<b>{{frequency}}</b> упоминаний
				{{/source}}
				{{^source}}
					<b>{{word.frequence}}</b> упоминаний / <b>{{word.sourcesCount}}</b> источников
				{{/source}}
			</span>
		</div>

		<div id="word-content-{{id}}" class="{{#word.definitions.0}}card-body text-muted{{/word.definitions.0}}">
			{{#word.definitions.0}}
			<p class="text-body">{{word.definitions.0.pronunciation}}</p>
			{{#word.definitions}}
					<p class="word-definition">
						<b>{{partOfSpeech.name}} <i>{{partOfSpeechNote}}</i></b>
						<br><span class="text-body">{{description}}</span>
						{{#synonyms}}
							<br><i>Syn.:</i> {{synonyms}}
						{{/synonyms}}
						{{#examples.0}}
							<br><i>Ex.:</i> {{examples.0.value}}
						{{/examples.0}}
						{{#examples.1}}
							<br><i>Ex.:</i> {{examples.1.value}}
						{{/examples.1}}
					</p>
				{{/word.definitions}}
				<a class=""
				   href="https://en.oxforddictionaries.com/definition/{{word.name}}"
				   target="_blank">Подробнее
				</a>
			{{/word.definitions.0}}
		</div>

		<div class="card-footer">
			<div class="btn-group">
				<button type="button"
						class="btn btn-outline-success btn-sm"
						data-id="remembered"
						data-word-id="{{word.id}}"
						data-href="/word/{{word.id}}/remembered">Знаю!
				</button>

				<button type="button"
						class="btn btn-outline-secondary btn-sm"
						data-word-id="{{word.id}}"
						data-id="hold-over"
						data-href="/word/{{word.id}}/hold-over">Пропустить
				</button>

				{{#isAdmin}}
					<button type="button"
							class="btn btn-outline-danger btn-sm"
							data-id="black-list"
							data-word-id="{{word.id}}"
							data-href="/admin/word/{{word.id}}/black-list">Удалить
					</button>
				{{/isAdmin}}
			</div>
		</div>
	</div>
{{/words}}

{{#words.0}}
	<a href=""><img src="{{layout.contextPath}}/img/refresh.png" alt="refresh"/></a>
	<div class="unknown-word-note-block">
		Осталось изучить
		{{#source}}
			<b>{{source.wordsCount}}</b> слов. Уже изучено: {{userCount}}<b></b>
		{{/source}}
		{{^source}}
			<b>{{toRememberCount}}</b> слов. Уже изучено: <b>{{rememberedCount}}</b>
		{{/source}}
	</div>
{{/words.0}}

{{^words}}
	<h2>Все уже изучено</h2>
{{/words}}

<script>
	var wordBlockInAction = {};

	$('div.card button').click(
		function() {
			var button = $(this);
			var actionUrl = "{{layout.contextPath}}" + button.attr("data-href");
			var wordId = button.attr('data-word-id');
			var wordBlockId = 'word-' + wordId;
			var wordBlock = $('#' + wordBlockId);

			if (wordBlockInAction[wordBlockId]) {
				return
			}
			wordBlockInAction[wordBlockId] = true;

			switch (button.attr("data-id")) {
				case "translate":
					translate(wordBlock, actionUrl);
					break;
				case "hold-over":
					actionAndHide(wordBlock, actionUrl);
					break;
				case "remembered":
					actionAndHide(wordBlock, actionUrl);
					break;
				case "black-list":
					actionAndHide(wordBlock, actionUrl);
					break;
				default:
					wordBlockInAction[wordBlockId] = false;
			}
		}
	);

	function translate(wordBlock, url) {
		console.log("[translate] " + url);
		$.ajax({ url: url, method: 'PUT'})
			.done(function(resp) {
				var wordId = wordBlock.attr("data-word-id");
				var contentBlock = $('#word-content-' + wordId);
				contentBlock.text(resp);
				contentBlock.addClass("card-body text-muted");
				wordBlock.find("[data-id=translate]").hide();
				wordBlock.find("[data-id=hold-over]").toggleClass("hidden");
				console.log('[OK] ' + url);
			})
			.fail(function (jqXHR, excpetion) {
				console.log("[ERROR]" + url + "\n" + excpetion)
			})
			.always(function () {
				wordBlockInAction[wordBlock.attr('id')] = false;
			});
	}

	function actionAndHide(wordBlock, url) {
		console.log("[action and hide] " + url);
		wordBlock.remove();
		$.ajax({ url: url, method: 'PUT'})
			.done(function(resp) {
				console.log('[OK] ' + url);
				loadNewPortion();
			})
			.fail(function (jqXHR, excpetion) {
				console.log("[ERROR]" + url + "\n" + excpetion)
			})
			.always(function () {
			});
	}

	function loadNewPortion() {
		var words = $('div.card');
		if (words.length === 0) {
			location.reload()
		}
	}
</script>

{{/layout}}