{{#filter}}
<div id=left_menu>
	<div class=filter><b>Персонаж</b>
		<div class=values>
			<table>
			{{#characterFilter}}
				<tr>
				<td class=progress>
					{{#progress}}
						<span class="progress progress_{{type}}">{{.}}%</span>
					{{/progress}}
				<td>
					{{#selected}}
						<b>{{name}}</b>
					{{/selected}}
					{{^selected}}
						<a href="?characterId={{id}}&{{currentFilterWOCharacterId}}">
							{{name}}
						</a>
					{{/selected}}
			{{/characterFilter}}
			</table>
		</div>
	</div>
	
	<div class=filter>
		<b>Редкость</b>
		{{#rarityId}}
			<a class=reset href="?{{currentFilterWORarityId}}">сбросить</a>
		{{/rarityId}}

		<div class=values>
			{{#rarityFilter}}
				{{#selected}}
					<div class="rarity_filter rarity_filter_{{id}}_selected"></div>
				{{/selected}}
				{{^selected}}
					<a class=rarity_filter href="?rarityId={{id}}&{{currentFilterWORarityId}}">
						<div class="rarity_filter rarity_filter_{{id}} selected"></div>
					</a>
				{{/selected}}
			{{/rarityFilter}}
		</div>
	</div>

	<div class=filter>
		<b>Набор</b>
		{{#seriesId}}
			<a class=reset href="?{{currentFilterWOSeriesId}}">сбросить</a>
		{{/seriesId}}

		<div class=values>
			<table>
			{{#seriesFilter}}
				<tr>
				<td class=progress>
					{{#progress}}
						<span class="progress progress_{{type}}">{{.}}%</span>
					{{/progress}}
				<td>
					{{#selected}}
						<b>{{name}}</b>
					{{/selected}}
					{{^selected}}
						<a href="?seriesId={{id}}&{{currentFilterWOSeriesId}}">
							{{name}}
						</a>
					{{/selected}}
			{{/seriesFilter}}
			</table>
		</div>
	</div>
</div>
{{/filter}}
