
<div id=top_menu>
	<div class=links>
		.::{{#menu}}
			{{#isSelected}}
				<b>{{title}}</b>
			{{/isSelected}}
			{{^isSelected}}
				<a href='{{layout.contextPath}}{{url}}?{{currentFilter}}'>{{title}}</a>
			{{/isSelected}}

			{{#-first}}
				<span class=progress>{{rememberedPercent}}%</span>
			{{/-first}}
		::{{/menu}}.
	</div>
	<div id=user_info>
		.::
		<a href="{{layout.contextPath}}/user/settings">{{userName}}</a>
		::
		<a class=logout href='{{layout.contextPath}}/logout'>X</a>
		::.
	</div>
</div>
