div.filter               { font-size: 13px; }
div.filter b             { color: gray; }
div.filter div.values    { padding-left: 20px; margin: 5px 0; }
div.filter div.values td { padding: 4px 3px; }
div.filter div.values p  { margin: 4px 3px; }

span.progress { color: forestgreen; display: inline; }

a.logout { text-decoration: none; font-weight: bold; color: #a11e0d; }
a.button { text-decoration: none }
div.button {
	border-radius: 25px; border: 1px dotted;
	text-align: center; font-size: 50%;
	padding: 3px 10px; margin: 3px 5px; display: inline;
	cursor: pointer;
}

div.error { border-radius: 10px; border: 1px solid #d47d7d; background: #f5cccc; text-align: center; color: #4c260b; padding: 10px 30px; }

div.word-to-remember-block {
	/*display: inline-block; margin: 10px; */
	padding: 5px 5px 12px 5px;
	text-align: left; font-size: 160%;
	background: #fafcfd; border-radius: 10px; border: 1px dotted #bed5e0;
}

div.download-process-item { margin: 10px; padding: 5px 10px; border: 1px dotted gray; text-align: left;}
div.download-process-item div.ERROR { border-color: #b43f39 }
div.download-process-item div.DOWNLOADING { border-color: #1299b4 }
div.download-process-item div.WAIT { border-color: #a2bca3 }
div.download-process-item div.DONE { border-color: #09b24d; }
div.download-process-item span.error { color: #b43f39; }

div.word-to-remember-block div.word  { margin: 5px; }
div.word-to-remember-block div.stats { font-size: 40%; color: #d4d4d4; text-align: right; }
div.word-to-remember-block span.translate { color: cornflowerblue; font-weight: bold; font-size: 60%; }
div.word-to-remember-block span.translate i { color: #a2c0f7; font-weight: normal; }
div.word-to-remember-block div.button-remembered { border-color: seagreen; color: seagreen; }
div.word-to-remember-block div.button-translate  { border-color: cornflowerblue; color: cornflowerblue; }
div.word-to-remember-block div.button-hold-over  { border-color: cornflowerblue; color: cornflowerblue; }
div.word-to-remember-block div.button-delete { border-color: darkred; color: darkred; }

button.hidden { display: none; }
div.in-action div.button { border: 1px dotted gray; color: gray; }

table.import-info { margin: 10px; }
table.import-info td { padding: 5px 10px; }
table.import-info td:first-child { font-weight: bold; }

div.to-remember-note-block { text-align: center; color: #b9bfbf;  margin: 30px auto; }

div.source-block {
	width: 85%;
	display: inline-block; margin: 10px; padding: 5px 5px 12px 5px;
	text-align: left; font-size: 120%;
	background: #fafcfd; border-radius: 10px; border: 1px dotted #bed5e0;
}
div.source-block div.name  { margin: 5px; }
div.source-block div.stats { font-size: 60%; color: #d4d4d4; text-align: right; }
div.source-block div.button { font-size: 60%; }
div.source-block div.button-delete { border-color: darkred; color: darkred; margin-left: 90%; }

div.cloud { text-align: justify; }